html,
body {
  font-size: 18px;
  line-height: 1.5;
}

body {
  padding: 0.75rem;
}

.highlight {
  overflow-x: auto;
}

main img {
  max-width: 100%;
}

figure {
  text-align: center;
}

.text-center {
  text-align: center;
}

@media (min-width: 45rem) {
  body {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    width: 37rem;
  }
}
