*, 
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 21px;
  line-height: 1.7;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 1.2rem;
}

a {
  color: #00e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container main {
  margin-bottom: 2rem;
}

.highlight {
  overflow-x: auto;
}

main img {
  box-shadow: 0px 0px 6px #aeaeae;
  border-radius: 6px;
  max-width: 100%;
  padding: 4px;
}

video {
  max-width: 100%;
}

.no-shadow {
  box-shadow: none;
}

nav ul {
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  padding-left: 0;
}

nav ul li {
  margin-bottom: 0.75rem;
}

nav ul li:not(:last-of-type) {
  margin-right: 1rem;
}

.posts {
  border-left: 1px dashed #aeaeae;
  list-style: none;
  padding-left: 1.25rem;
}

.post {
  align-items: flex-start;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1.5rem;
  position: relative;
}

.post .publish-date {
  font-size: 0.75rem;
}

.post a {
  font-size: 1.15rem;
}

.post::after {
  border: 1px solid #bdbbbb;
  border-radius: 50%;
  background-color: white;
  content: "";
  height: 0.5rem;
  left: -1.5rem;
  position: absolute;
  top: 10px;
  width: 0.5rem;
}

figure {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

blockquote {
  position: relative;
}

blockquote::before {
  background-color: #32b81f;
  border-radius: 4px;
  bottom: 0px;
  content: "";
  left: -40px;
  position: absolute;
  top: 0px;
  width: 4px;
}

code {
  background-color: #f3f3f3;
  border-radius: 4px;
  font-size: 0.85rem;
  padding: 3px 6px;
}

pre.highlight {
  padding-left: 0.5rem;
}

pre {
  font-size: 0.85rem;
  line-height: 1.5;
}

pre code {
  background-color: transparent;
  padding: 0;
}

.text-center {
  text-align: center;
}

hr {
  color: #565656;
  margin: 2rem auto;
  width: 8rem;
}

header {
  margin-bottom: 1.2rem;
}

header h1 {
  font-size: 1.75rem;
  margin: 0;
  margin-bottom: 1.2rem;
}

header h1 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity .15s ease-out, transform .3s ease-out
}

header h1:hover span {
  opacity: 1;
  transform: translateY(0);
}

article h2 {
  margin-bottom: 0;
}

.post-meta {
  color: #565656;
  font-size: 0.75rem;
  margin-top: 0;
}

.confetti-please {
  --extra-confettiNumber: 220;
  --extra-confettiLengthVariance: 4;
  --extra-confettiWeightVariance: 3;

  background-image: paint(extra-confetti);
}

.post.published-recently.confetti-please {
  margin-bottom: 0.5rem;
  padding-bottom: 1.75rem;
}

.post.published-recently.confetti-please .publish-date,
.post.published-recently.confetti-please a {
  background-color: white;
}

.strava-card .card-header {
  margin-bottom: 1rem;
}

.strava-card h3 {
  color: #e34402;
  margin-bottom: 0;
  margin-top: 0;
}

.strava-card .latest-run {
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 0.5rem;
}

.strava-card .latest-run.has-photo {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: space-between;
  transform: rotateZ(2deg);
  transition: transform 0.25s;
}

.strava-card .latest-run.has-photo:hover {
  transform: rotateZ(0);
}

.strava-card .latest-run.has-photo .activity-name a,
.strava-card .latest-run.has-photo .label,
.strava-card .latest-run.has-photo .label + div {
  color: white;
}

.strava-card .activity-name {
  margin-bottom: 1rem;
} 

.strava-card .stats {
  display: flex;
  justify-content: space-between;
}

.strava-card .label {
  color: #565656;
  font-size: 0.75rem;
}

.strava-card .label + div {
  font-size: 1.15rem;
  line-height: 1.2;
}

.azure-function-message {
  font-size: 0.6rem;
}

.btn {
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 0.75rem;
  padding: 3px 9px 3px 9px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.btn-twitter {
  background-color: #1b95e0;
}

.btn-twitter:active,
.btn-twitter:focus,
.btn-twitter:hover {
  background-color: #0c7abf;
}

.btn-github {
  background-color: #24292e;
}

.btn-github:hover {
  background-color: #515960;
}

.btn-rss {
  background-color: #b9501f;
}

.btn-rss:hover {
  background-color: #923507;
}

.follow-btns .btn + .btn {
  margin-left: 0.5rem;
}

@media (min-width: 22em) {
  header h1 {
    font-size: 2rem;
  }
}

@media (min-width: 28em) {
  nav ul li {
    margin-bottom: 0;
  }

  .strava-card {
    width: 400px;
  }
}

@media (min-width: 37.5em) {
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  header h1 {
    margin-bottom: 0;
  }
  
  .follow-btns {
    text-align: right;
  }
}

@media (min-width: 60em) {
  figure {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  
  .container {
    display: flex;
  }
  
  .container main {
    flex-grow: 1;
    padding-right: 1rem;
    margin-bottom: 0;
  }

  .strava-card {
    width: 360px;
  }
}

@media (min-width: 65em) {
  body,
  body.single-post {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }
  
  body {
    width: 90%;
  }

  body.single-post {
    width: 44rem;
  }
}

@media (min-width: 88em) {
  body {
    width: 60rem;
  }

  .strava-card {
    width: 400px;
  }

  .strava-card .latest-run.has-photo {
    height: 250px;
  }  
}
