html,
body {
  font-size: 21px;
  line-height: 1.7;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0.75rem;
}

.container {
  display: flex;
}

.container main {
  flex-grow: 1;
}

.highlight {
  overflow-x: auto;
}

main img {
  max-width: 100%;
}

figure {
  text-align: center;
}

code {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 3px 4px;
}

pre {
  font-size: 0.85rem;
  line-height: 1.5;
}

pre code {
  background-color: transparent;
  padding: 0;
}

.text-center {
  text-align: center;
}

header {
  margin-bottom: 1.5rem;
}

header h1 {
  margin: 0px;
}

header h1 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity .15s ease-out, transform .3s ease-out
}

header h1:hover span {
  opacity: 1;
  transform: translateY(0);
}

article h2 {
  margin-bottom: 0;
}

.publish-date {
  color: #565656;
  font-size: 0.9rem;
  margin-top: 0;
}

.strava-card h3 {
  color: #e34402;
  margin-top: 0;
}

.strava-card .card-header {
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  padding: 3px 9px 3px 9px;
  text-align: center;
  text-decoration: none;
}

.btn-strava {
  background-color: #fc4c02;
}

.btn-strava:active,
.btn-strava:focus,
.btn-strava:hover {
  background-color: #e34402;
}

.btn-twitter {
  background-color: #1b95e0;
}

.btn-twitter:active,
.btn-twitter:focus,
.btn-twitter:hover {
  background-color: #0c7abf;
}

.strava-card {
  
}

@media (min-width: 32rem) {
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .follow-btns {
    text-align: right;
  }
}

@media (min-width: 45rem) {
  body {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    width: 37rem;
  }
}
