<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Dzhavat Ushev</title>

    <meta name="google-site-verification" content="myIv9g0szZwjZ8dYBtedNqm58wtN50DR2xIBVdFRcro" />

    <link href="/assets/css/rouge-github.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">

    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">

    <link rel="canonical" href="{{ site.url }}" />
  </head>
  <body>
    {% include header.html %}

    <nav>
      <ul>
        <li><a href="/">Posts</a></li>
        <li><a href="/thoughts">Thoughts</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/uses">Uses</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <div class="container">
      <main>
        {{ content }}
      </main>
      <aside>
        <div class="strava-card">
          <div class="card-header">
            <h3>Latest run on Strava</h3>
          </div>
          <div class="card-body"></div>
        </div>
      </aside>
    </div>
    
    <script src="/assets/js/main.js"></script>

    <script src="https://unpkg.com/css-paint-polyfill@3.2.0/dist/css-paint-polyfill.js"></script>
    <script src="/assets/js/confetti.js"></script>
  </body>
</html>
