<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link href="/assets/css/rouge-github.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
    
    <link rel="canonical" href="{{ site.url }}" />
  </head>
  <body>
    {% include header.html %}

    <div class="container">
      <main>
        {{ content }}
      </main>
      <aside>
        <div class="strava-card">
          <div class="card-header">
            <h3>Strava</h3>
          </div>
          <div class="card-body"></div>
        </div>
      </aside>
    </div>
    
    <script src="/assets/js/main.js"></script>
  </body>
</html>
