<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link href="/assets/css/rouge-github.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
    
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  </head>
  <body>
    {% include header.html %}

    <nav><a href="/">Home</a></nav>

    <main>
      <article>
        <h2>{{ page.title }}</h2>
        {% include published.html %}
        {{ content }}
        {% include share-on-twitter.html %}
      </article>
    </main>
  </body>
</html>
